body {
    font-size: 2rem;
    
    background-color: rgb(24, 24, 24);
    color: white;

    
}

* {
    font-family: monospace;
}

.blue {
    color: rgb(105, 105, 255);
    font-weight: 400;
}

.red {
    color: white;
    font-weight: 800;
    background-color: rgb(237, 66, 66);
}

.black {
    color: black;
}

.green {
    color: rgb(129, 245, 80);
    font-weight: 800;
}

.gray {
    color: gray;
}

.selected {
    background-color: black;
}

.container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 53, 53);
    padding: 0;
}

.stats {
    font-size: 1.5rem;
    background-color: black;
    padding-inline: 2rem;
    align-self: flex-start;
}

#sample {
    text-align: center;
    padding: 1rem;
}

#input {
    display: none;
}

#visibleinput {
    text-decoration: none;
    border: none;
    background-color: black;
    
    padding: 0.5rem;
    font-size: 1.5rem;
}

#visibleinput:focus {
    border: none;
    text-decoration: none;
    outline: none;
}

#header {
    text-align: center;
}

button {
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: rgb(53, 53, 53);
}

main {
    display: flex;
    justify-content: center;
    margin-inline: 2rem;
}

.main-content {
    display: flex;
    gap: 2rem;
    max-width: 60rem;
}

.config {
    background-color: black;
    display: flex;
}

.button-active {
    background-color: rgb(53, 53, 53);
}

@media only screen and (max-width: 700px) {
    .main-content {
        flex-direction: column;
    }
    #sample {
        font-size: 1.25rem;
    }
    .stats {
        align-self: center;
        font-size: 1.25rem;
    }
    button {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 400px) {
    .main-content {
        flex-direction: column;
    }
    #sample {
        font-size: 1rem;
        padding: 0.5rem;
    }
    .stats {
        align-self: center;
        font-size: 1rem;
    }
    button {
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
    color: white;
}

/* about sections specific */

.about-container {
    margin: 1rem;
}

.about-internal {
    background-color: black;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    padding-block: 0.25rem;
}

.link {
    color: gray;
    /* text-decoration: underline; */
}

.link:hover {
    color: white;
    text-decoration: underline;
}

.realinput {
    flex: 1;
    display: flex;
}
input {
    width: 100%;
    caret-color: black;
}